/** {*/
    /*margin: 0;*/
    /*padding: 0;*/
/*}*/
/*html {*/
    /*!*background-color: #eefbf8;*!*/
    /*background-image: radial-gradient(circle, hsla(0,0%,100%,.1), hsla(0,0%,0%,.75)),*/
    /*linear-gradient(left, transparent 50%, hsla(0,0%,0%,.01) 50%);*/
    /*background-position: 50% 75%, 50% 50%;*/
    /*background-repeat: no-repeat, repeat;*/
    /*background-size: 150% 150%, 3em 3em;*/
    /*font-size: 100%;*/
    /*min-height: 100%;*/
/*}*/
/*!**********!*/
/*!* Slider *!*/
/*!**********!*/

/*.slider {*/
    /*!*background-color: #fff;*!*/
    /*box-shadow: inset 0 0 2px hsla(0,0%,0%,.2),*/
    /*0 3px 1px hsla(0,0%,100%,.75),*/
    /*0 -1px 1px 2px hsla(0,0%,0%,.1);*/
    /*height: 18.75em;*/
    /*left: 50%;*/
    /*margin: -9.875em -13em;*/
    /*padding: .5em;*/
    /*position: absolute;*/
    /*top: 70%;*/
    /*width: 25em;*/
/*}*/

/*!* Frame *!*/

/*.slider:before {*/
    /*background-color: #22130c;*/
    /*bottom: -2.5em;*/
    /*box-shadow: inset 0 1px 1px 1px hsla(0,0%,100%,.2),*/
    /*inset 0 -2px 1px hsla(0,0%,0%,.4),*/
    /*0 5px 50px hsla(0,0%,0%,.25),*/
    /*0 20px 20px -15px hsla(0,0%,0%,.2),*/
    /*0 30px 20px -15px hsla(0,0%,0%,.15),*/
    /*0 40px 20px -15px hsla(0,0%,0%,.1);*/
    /*content: '';*/
    /*left: -2.5em;*/
    /*position: absolute;*/
    /*right: -2.5em;*/
    /*top: -2.5em;*/
    /*z-index: -1;*/
/*}*/

/*!* Mat *!*/

/*.slider:after {*/
    /*background-color: #fff5e5;*/
    /*bottom: -1.5em;*/
    /*box-shadow: 0 2px 1px hsla(0,0%,100%,.2),*/
    /*0 -1px 1px 1px hsla(0,0%,0%,.4),*/
    /*inset 0 2px 3px 1px hsla(0,0%,0%,.2),*/
    /*inset 0 4px 3px 1px hsla(0,0%,0%,.2),*/
    /*inset 0 6px 3px 1px hsla(0,0%,0%,.1);*/
    /*content: '';*/
    /*left: -1.5em;*/
    /*position: absolute;*/
    /*right: -1.5em;*/
    /*top: -1.5em;*/
    /*z-index: -1;*/
/*}*/

/*!* Slides *!*/

/*.slider li {*/
    /*box-shadow: 0 -1px 0 2px hsla(0,0%,0%,.03);*/
    /*list-style:none;*/
    /*position: absolute;*/
/*}*/
/*.slider input {*/
    /*display: none;*/
/*}*/

/*!* Navigation *!*/

/*.slider label {*/
    /*background-color: #111;*/
    /*background-image: linear-gradient(transparent, hsla(0,0%,0%,.25));*/
    /*border: .2em solid transparent;*/
    /*bottom: .5em;*/
    /*border-radius: 100%;*/
    /*cursor: pointer;*/
    /*display: block;*/
    /*height: .5em;*/
    /*left: 24em;*/
    /*opacity: 0;*/
    /*position: absolute;*/
    /*transition: .25s;*/
    /*width: .5em;*/
    /*visibility: hidden;*/
    /*z-index: 10;*/
/*}*/
/*.slider label:after {*/
    /*border-radius: 100%;*/
    /*bottom: -.2em;*/
    /*box-shadow: inset 0 0 0 .2em #111,*/
    /*inset 0 2px 2px #000,*/
    /*0 1px 1px hsla(0,0%,100%,.25);*/
    /*content: '';*/
    /*left: -.2em;*/
    /*position: absolute;*/
    /*right: -.2em;*/
    /*top: -.2em;*/
/*}*/
/*.slider:hover label {*/
    /*opacity: 1;*/
    /*visibility: visible;*/
/*}*/
/*.slider input:checked + label {*/
    /*background-color: #fff;*/
/*}*/
/*.slider:hover li:nth-child(1) label {*/
    /*left: .5em;*/
/*}*/
/*.slider:hover li:nth-child(2) label {*/
    /*left: 2em;*/
/*}*/
/*.slider:hover li:nth-child(3) label {*/
    /*left: 3.5em;*/
/*}*/
/*.slider:hover li:nth-child(4) label {*/
    /*left: 5em;*/
/*}*/
/*.slider:hover li:nth-child(5) label {*/
    /*left: 6.5em;*/
/*}*/

/*!* Images *!*/

/*.slider img {*/
    /*height: 18.75em;*/
    /*opacity: 0;*/
    /*transition: .25s;*/
    /*width: 25em;*/
    /*vertical-align: top;*/
    /*visibility: hidden;*/
/*}*/
/*.slider li input:checked ~ img {*/
    /*opacity: 1;*/
    /*visibility: visible;*/
    /*z-index: 10;*/
/*}*/
/*@import url(http://fonts.googleapis.com/css?family=Varela+Round);*/

html, body {
    /*background: #333 url("http://codepen.io/images/classy_fabric.png"); */
}

.slides {
    padding: 0;
    width: 609px;
    height: 420px;
    display: block;
    margin: 0 auto;
    position: relative;
}

.slides * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

.slides input { display: none; }

.slide-container { display: block; }

.slide {
    top: 0;
    opacity: 0;
    width: 609px;
    height: 420px;
    display: block;
    position: absolute;

    transform: scale(0);

    transition: all .7s ease-in-out;
}

.slide img {
    width: 100%;
    height: 100%;
}

.nav label {
    width: 200px;
    height: 100%;
    display: none;
    position: absolute;

    opacity: 0;
    z-index: 9;
    cursor: pointer;

    transition: opacity .2s;

    color: #FFF;
    font-size: 156pt;
    text-align: center;
    line-height: 380px;
    font-family: "Varela Round", sans-serif;
    background-color: rgba(255, 255, 255, .3);
    text-shadow: 0px 0px 15px rgb(119, 119, 119);
}

.slide:hover + .nav label { opacity: 0.5; }

.nav label:hover { opacity: 1; }

.nav .next { right: 0; }

input:checked + .slide-container  .slide {
    opacity: 1;

    transform: scale(1);

    transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .nav label { display: block; }

.nav-dots {
    width: 100%;
    bottom: 9px;
    height: 11px;
    display: block;
    position: absolute;
    text-align: center;
}

.nav-dots .nav-dot {
    top: -5px;
    width: 11px;
    height: 11px;
    margin: 0 4px;
    position: relative;
    border-radius: 100%;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.6);
}

.nav-dots .nav-dot:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.8);
}

input#img-1:checked ~ .nav-dots label#img-dot-1,
input#img-2:checked ~ .nav-dots label#img-dot-2,
input#img-3:checked ~ .nav-dots label#img-dot-3,
input#img-4:checked ~ .nav-dots label#img-dot-4,
input#img-5:checked ~ .nav-dots label#img-dot-5 {
    background: rgba(0, 0, 0, 0.8);
}