html {
	background-color: #FFE1FF;
}
body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    margin-left: 100px;
    margin-right: 100px;
}

h1, h2, h3 {
    color:#2E0854;
    margin-left: 200px;
}
h1 {
	text-align: center
}
a:link, a:visited {
    text-decoration:none;
    color:#2E0854;
    font-weight:bold;
}
a:hover {
    color: violet;
}


nav ul {
    list-style-type:none;
    padding:0;
}

nav li {
    display: table-row;
    box-shadow: 5px 5px 2.5px #888888;
    outline: #4F2F4F dotted thin;
}

nav a:link, nav a:visited {
    background-color:#BF5FFF;
    color:white;
    display:block;
    width:160px;
    text-align:center;
    padding: 10px 0;
}

nav a:hover {
    background-color:#5C246E;
}

aside {
    width:300px;
    float: right;
    background-color: #D8BFD8;
    text-align:center;
    font-weight:bold;
    padding:20px;
    margin-left:10px;
    margin-right:0px;
    box-shadow: 5px 5px 2.5px #888888;
    outline: #4F2F4F dotted thick;
}

section{
}

figure{
	margin-left: -180px;
}
p {
	margin-left: 200px;
}

li {
	margin-left: 200px;
}

.photo-left {
    float:left;
    margin-right:20px;
}

img {
	margin-left: 200px;
}

.photo-right {
    float:right;
    margin-left:20px;
}

header {
	float:left;
    height:150px;
    margin-bottom:23px;
    background-color: #BDA0CB;
    width: 100%;
    box-shadow: 5px 5px 2.5px #888888;
    outline: #4F2F4F dotted thin;
}

header h1 {
    color:rgba(256,256,256,.8);
    margin-left:30px;
    margin-right: 30px;
    margin-top:20px;
    font-size:50px;
    text-align:center;
    letter-spacing: 10px;
    text-transform: capitalize;
}

footer {
    display: inline-block;
    margin-top: 50px;
    
}
footer nav a:link, footer nav a:visited {
    color:gray;
    text-decoration:none;
    display:block;
    text-align:center;
    background-color:white;
    outline: #4F2F4F dotted thin;
}
footer nav a:hover {
    color:black;
}

footer nav li {
	display: inline-block;
	
}

.clear-both{
    clear: both;
}